In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Transactions.csv")

In [4]:
df.head()

         date                category       amount   counterparty
0  04/01/2022         INCASSO FATTURA   € 5.000,00  ALPHA COMPANY
1  13/01/2022         INCASSO FATTURA   € 4.800,00       BETA SRL
2  15/01/2022                STIPENDI  -€ 6.000,00    MARIO ROSSI
3  15/01/2022  RIMBORSO FINANZIAMENTO  -€ 1.200,00    BANCA SELLA
4  22/01/2022         INCASSO FATTURA   € 5.400,00       BETA SRL

In [5]:
df["amount"] = df["amount"].str.replace("€ ", "").apply(lambda x: x.replace(".","").replace(",",".")).astype(float)

In [6]:
df["amount"]

0       5000.00
1       4800.00
2      -6000.00
3      -1200.00
4       5400.00
         ...
110    -1700.00
111    12666.67
112    -9284.00
113    12866.67
114    -9434.00
Name: amount, Length: 115, dtype: float64

In [7]:
df.to_csv("Transactions_c.csv", index=False)

In [8]:
df1 = pd.read_csv("Transactions_c.csv")

In [9]:
df1.dtypes

date             object
category         object
amount          float64
counterparty     object
dtype: object

In [10]:
df1["amount"].sum()

7525.139999999996

In [11]:
df1.loc[df1['amount'].idxmax()]['date']

'30/12/2022'

In [12]:
df1['amount'].min()

-9434.0

In [13]:
df1.loc[df1['amount'].idxmin()]

date                     30/12/2022
category        PAGAMENTO FORNITORI
amount                      -9434.0
counterparty                ABC SRL
Name: 114, dtype: object

In [17]:
df1.amount.mode()

0   -8000.0
1   -1700.0
Name: amount, dtype: float64